.c-media {
  width: 44%;
}
.p-hero_media{
  display: inline-flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.c-media_container {
  background-color: #F5F1F1;
}
.c-media_number {
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #B43B3E;
  width: 76px;
  height:38px;
  border-radius:38px 38px 0 0;
  color: #FFF;
  text-align: center;
}
.c-media_thumb {
  width: 100%;
}
.c-media_title {
  padding-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}
.c-media_sum {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}
.c-media_desc {
  padding: 0 8px 8px 8px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  background-color: #17a2b8;
  .p-hero_media{
    .c-media {
      width: 20%;
    }
    .c-media:first-child(1) {
      margin-right: 0;
    }
  }


}